<head>
  <script src="/lib/webface_init.js"></script>
  <script src="/examples/components/numeric_form_field/container_component.js" type="module"></script>
  <script src="/examples/webface_app.js" type="module"></script>
  <style>
    .errors input { background-color: #ffc9c9; border: solid 1px red; }
    .errorsSummary { color: red; display: none; }
  </style>
</head>
<body>
  <div data-component-class="ContainerComponent">
    <div data-component-class="NumericFormFieldComponent" data-component-roles="numeric_form_field" data-component-attr-map="max_length:data-max-length,max_integer_length:data-max-integer-length,max_decimal_length:data-max-decimal-length" data-max-length="11" data-max-integer-length="2" data-max-decimal-length="8">
      <input data-component-part="value_holder"
           type="text"
           name="input1"
           value="123"
           checked="false"/>
      <div data-component-attr="validation_errors_summary" class="errorsSummary"></div>
    </div>
    <br/>

    <button data-component-class="ButtonComponent" data-component-roles="validate" data-component-attr-map="lockable:lockable" lockable="false">Validate</button>
    <button data-component-class="ButtonComponent" data-component-roles="reset" data-component-attr-map="lockable:lockable" lockable="false">Reset</button>
    <button data-component-class="ButtonComponent" data-component-roles="print_current_value" data-component-attr-map="lockable:lockable" lockable="false">print current value to console</button>
  </div>
</body>
